@import 'mixins';

.point-section {
    visibility: hidden;
}
.song-option {
visibility: hidden;
}

.optionMusique {
color: black;}

.Sectionduel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .duels-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
        
        
    }

    .duel-card {
        width: 100%;
        max-width: 40vw;
        background: rgba(0, 5, 153, 0.361);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #f0f0f0;
            margin-bottom: 15px;
        }

        p {
            color: #dcdcdc;
            margin-bottom: 10px;
        }

    }
    
}

#mainbody{
    display: grid;
    grid-template-columns: 1fr 3fr;
  .sectionaff{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .nav_toggle{
        display : flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
        :hover{
            background: #3675ff;
            color: white;
        }
        .side-bar{
            @include transition;
            transform: translateX(-100%);
            position: fixed;
            top:0;
            left:0;
            width: 250px;
            .is-open {
                transform: translateX(0);
            }
        }
    }
}   
