@import 'mixins';

.point-section {
    visibility: hidden;
}
.song-option {
visibility: hidden;
}



.Sectionduel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .duels-list{
        display: flex;
        gap: 30px;
        margin-top: 20px;
        
        
    }

    .duel-card {
        width: 100%;
        max-width: 40vw;
        background: rgba(0, 5, 153, 0.361);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #f0f0f0;
            margin-bottom: 15px;
        }

        p {
            color: #dcdcdc;
            margin-bottom: 10px;
        }
    }
    
}


