@import "mixins";

.form-container {
    background: linear-gradient( #3675ff,#4c64ff, #13007f );
    padding: 20px;
    border: 2px solid #560af9;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, h3, h4{
        color: #ffffff;
        text-align: center;
    }
    h2{
        color: #560af9;
    }
}

#newDuelForm, #newSoloForm {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    label {
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }
    input[type="text"], input[type="number"], select{
        width: 100%;
        padding: 8px;
        border: 1px solid #560af9;
        border-radius: 4px;
        box-sizing: border-box;
    }

   select{
        background: linear-gradient( #6609d7, #3804b2);  
        color: #fff;
            select:focus {
        outline: 2px solid #560af9;
        }
        option {
            background: linear-gradient( #6609d7, #3804b2);  
            color: #0000;
        }
            option:hover {
                background: #3675ff;
                color: #fff;
            }
   }
    button {
        background-color: #4c64ff;
        color: rgb(243, 250, 255);
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: #3675ff;
        }
    }
}