@import "mixins.scss";
@import "duel.scss";
@import "game.scss";

:root{
    background-color: rgb(0, 42, 169);
}

body{
   @include text();
}

.song-option{
    visibility: hidden;
}

.point-section{
    visibility: hidden;
}