@import "mixins.scss";
@import "duel.scss";
@import "game.scss";

:root{
    background-color: rgb(51, 45, 171);
}

body{
   @include text();
}

.song-option{
    visibility: hidden;
}

.point-section{
    visibility: hidden;
}

button{
    @include button-style();
        }